p:www-form-urldecode fails to decode "+"

According to http://www.w3.org/TR/html401/interact/forms.html#form-content-type

> Control names and values are escaped. Space characters are replaced by '+', and then reserved characters are escaped as described in [RFC1738], section 2.2: Non-alphanumeric characters are replaced by `%HH', a percent sign and two hexadecimal digits representing the ASCII code of the character. Line breaks are represented as "CR LF" pairs (i.e., '%0D%0A').

``` xml
<p:declare-step version="1.0" name="test" xmlns:p="http://www.w3.org/ns/xproc">
    <p:output port="result"/>
    <p:www-form-urldecode value="working=hello%20world&amp;not-working=hello+world"/>
</p:declare-step>
```

Result:

``` xml
<c:param-set xmlns:c="http://www.w3.org/ns/xproc-step">
   <c:param name="working" value="hello world"/>
   <c:param name="not-working" value="hello+world"/>
</c:param-set>
```

(using xmlcalabash-1.1.4-95)
